In [1]:
import pandas as pd
import os

master_df = pd.DataFrame()
for file in os.listdir(os.getcwd()):
    if file.endswith('.csv'):
        master_df = master_df.append(pd.read_csv(file))

master_df.to_csv('Sales_final.csv', index = False)

AttributeError: 'DataFrame' object has no attribute 'append'

In [3]:
import pandas as pd
from glob import glob
import os

In [4]:
data_files = sorted(glob('Sales_data/Sales*.csv'))
data_files

['Sales_data\\Sales_April_2019.csv',
 'Sales_data\\Sales_August_2019.csv',
 'Sales_data\\Sales_December_2019.csv',
 'Sales_data\\Sales_February_2019.csv',
 'Sales_data\\Sales_November_2019.csv',
 'Sales_data\\Sales_October_2019.csv',
 'Sales_data\\Sales_September_2019.csv']

In [5]:
files = [file for file in os.listdir('Sales_Data')]
all_month_data = pd.DataFrame()
for file in files:
    df = pd.read_csv("Sales_Data/"+file)
    all_month_data = pd.concat([all_month_data,df])

all_month_data.to_csv("all_data.csv", index = False)

In [6]:
all_month_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [7]:
all_data = all_month_data.dropna(how = 'all')

In [8]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [9]:
#all_data = all_data[all_data['Order Date'].str[0:2] != 'Or']

In [10]:
all_data['Month'] = all_data['Order Date'].str[0:2]
#all_data['Month'] = all_data['Order Date'].astype('int32')
all_data.tail()

C:\Users\Anurag.Pal\AppData\Local\Temp\ipykernel_9820\1058170187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Month'] = all_data['Order Date'].str[0:2]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",09
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",09
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",09
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",09
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",09

In [11]:
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'])
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'])
all_data.head()

ValueError: Unable to parse string "Quantity Ordered" at position 517

In [12]:
all_data['Sales'] = all_data['Quantity Ordered'] * all_data['Price Each']
all_data.head()

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
all_data['Purchase Address']
#all_data['City'] = all_data['Purchase Address'].apply(lambda x : x.split(',')[0])
all_data['City'] = all_data['Purchase Address'].apply(lambda x : x.split(',')[0:2])
all_data.head()

In [13]:
result

NameError: name 'result' is not defined

In [14]:
all_data_1 = all_data[all_data['Sales']==all_data['Sales'].max()]
all_data_1['Month']

KeyError: 'Sales'

In [ ]:
all_data[all_data['Sales']==all_data['Sales'].max()]

In [15]:
all_data['Sales'].max()

KeyError: 'Sales'

In [16]:
df1=all_data[['Month']][all_data.Sales == all_data['Sales'].max()]
#df1=df[['Country','Place']][df.Value == df['Value'].max()]

AttributeError: 'DataFrame' object has no attribute 'Sales'

In [ ]:
df1

In [ ]:
import matplotlib.pyplot as plt
df.plot(x="Name", y=["Age", "Height(in cm)"], kind="bar")

In [ ]:
all_data.plot.bar(x='Month', y='Sales', rot=0)

In [ ]:
#months = range(1,13)
import matplotlib
result.plot.bar(x = 'Month', y = 'Sales', rot = 0)
#matplotlib.pyplot.bar(result["Month"], result["Sales"])
#plt.show()

In [ ]:
all_data

In [ ]:
result1 = all_data.groupby('Purchase Address').sum()

In [ ]:
result1

In [21]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04

In [36]:
import io
all_data["Order Date"].dtype
from datetime import datetime

In [37]:
all_data["Order Date"] = datetime.strptime(all_data["Order Date"], "%d-%b-%Y-%H:%M:%S")
all_data["Order Date"].strftime("%Y-%m-%d-%H:%M:%S")

TypeError: strptime() argument 1 must be str, not Series

In [34]:
all_data["Order Date"] = pd.to_datetime(all_data["Order Date"], format ='%y%m%d '%H:%M:%S')

SyntaxError: unterminated string literal (detected at line 1) (3986923647.py, line 1)

In [26]:
all_data["Hour"] = all_data["Order Date"].dt.hour

AttributeError: Can only use .dt accessor with datetimelike values

In [41]:
df = all_data[all_data['Order ID'].duplicated
(keep = False)]
df['Grouped'] = df.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))
df = df[['Order ID', 'Grouped']].drop_duplicates()
df.head()

C:\Users\Anurag.Pal\AppData\Local\Temp\ipykernel_9820\2833833587.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grouped'] = df.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))

    Order ID                                            Grouped
3     176560                      Google Phone,Wired Headphones
18    176574                  Google Phone,USB-C Charging Cable
30    176585  Bose SoundSport Headphones,Bose SoundSport Hea...
32    176586                AAA Batteries (4-pack),Google Phone
119   176672      Lightning Charging Cable,USB-C Charging Cable

In [42]:
from itertools import combinations
from collections import Counter

c = Counter()

for row in df['Grouped']:
    row_list = row.split(',')
    c.update(Counter(combinations(row_list, 2)))

for key, value in c.most_common(10):
    print(key,value)

('Product', 'Product') 22578
('Google Phone', 'USB-C Charging Cable') 611
('iPhone', 'Lightning Charging Cable') 585
('iPhone', 'Wired Headphones') 283
('Google Phone', 'Wired Headphones') 261
('iPhone', 'Apple Airpods Headphones') 235
('Vareebadd Phone', 'USB-C Charging Cable') 230
('Google Phone', 'Bose SoundSport Headphones') 142
('USB-C Charging Cable', 'Wired Headphones') 93
('Vareebadd Phone', 'Wired Headphones') 88